body{
	background-color: #e0dcdc;
}

h2{
	text-align: center;
	font-size: 2em;
}

button{
	background-color: #77a2e6;
}

button a{
	color:#e0dcdc;
	text-decoration: none;
}

table{
	font-size: 18px;
	width: 50%;
	border-collapse: collapse;
	margin-right: auto;
}

table, tr{
	border: 1px solid black;
}

table, th{
	text-align: left;
}

thead tr:hover, thead th:hover{
	background: white;
	color: black;
}

#lado{
	float: left;
}

#paragrafo{
	clear: both;
}

#metade1{
	width: 50%;
	float: left;
}

#metade1 a{
	color: black;
}

#metade2{
	width: 50%;
	float: right;
}

#metade2 a{
	color: black;
}

#imagem{
	 width: 110px;
	 border-radius: 30%;
}

.footer{
	clear: both;
	background-color: #77a2e6;
	color: white;
	font-size: 10px;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.footer a{
	color: white;
}
